* {
  color: #4DCCBD;
  background-color: #0A1A1E;
  font-family: 'Merriweather', serif;
}

h1 {
  background-color: #122C34;
  border: #296A7A 2px solid;
}

.card {
  border: #296A7A 2px solid;
}

img {
  max-width: 280px;
  max-height: 280px;
}