* {
  color: #4DCCBD;
  font-family: 'Merriweather', serif;
}

body {
  background-color: #0A1A1E;
}

h1, .navbar, .btn, .list-group-item, .linkBox, .card-body, .footer {
  background-color: #122C34;
  border: #296A7A 2px solid;
  color: #4DCCBD;
}

.card {
  border: #296A7A 2px solid;
}

a {
  color: #4DCCBD;
}

.navbar-toggler {
  background-color: #4DCCBD;
}

.btn:hover {
  color: #296A7A;
}

#download {
  font-size: larger;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

body {
  margin-bottom: 50px;
}