.projectContainer {
  width: 60vw;
  border: #296A7A 2px solid;
}

.projectCard {
  width: 50vw;
  display: block;
  margin: auto;
}

.paragraphField {
  background-color: #122C34;
  border: #296A7A 2px solid;
  color: #4DCCBD;
}

.btn {
  width: 200px;
  display: block;
  margin: auto;
}