/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0, 0) rgb(255, 104, 66);
}

/* Works on Chrome, Edge, and Safari */
p::-webkit-scrollbar {
  width: 10px;
}

p::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
}

p::-webkit-scrollbar-thumb {
  background-color: rgb(255, 133, 102);
  border-radius: 5px;
  border: 3px solid rgb(255, 104, 66);
}

.indent {
  margin-left: 40px;
}   

.bio {
  height: 200px;
  background: linear-gradient(
    205deg,
    rgba(84, 243, 244, 0.2) 0%,
    rgba(90, 168, 244, 0.2) 33%,
    rgba(90, 119, 244, 0.2) 66%,
    rgba(255, 66, 19, 0.2) 100%
  );
  border-radius: 10px;
  border: rgb(49, 31, 27) 1px solid;
}

.list-group-item {
  margin-bottom: 10px;
  border-radius: 2px;
  border: rgb(49, 31, 27) 1px solid;
}

svg {
  margin-right: 15px;
}
