.card {
  background-color: #2b2b27;
  color: white;
  border: white 2px dashed;
  border-radius: 15px;
  position: relative;
  max-width: 950px;
}

.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 20px;
  background-color: white;
}