.section-fade-left {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, .1) 0%,
    rgba(233, 233, 233, .9) 100%
  );
}

.section-fade-right {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, .9) 0%,
    rgba(233, 233, 233, .1) 100%
  );
}

.section-fade-right, .section-fade-left {
  height: 350px;
  border-radius: 5px;
}

.image-column {
  flex: .50 0 0%;
}