/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------------- */

body {
  background-color: #65655E;
  height: 100%;
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
}

p,
span,
.list-group-item,
.nav-link {
  font-family: "Libre Baskerville", serif;
}

img {
  height: 400px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0, 0) rgb(255, 104, 66);
}

/* Works on Chrome, Edge, and Safari */
p::-webkit-scrollbar,
.skills-list-box::-webkit-scrollbar {
  width: 10px;
}

p::-webkit-scrollbar-track,
.skills-list-box::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
}

p::-webkit-scrollbar-thumb,
.skills-list-box::-webkit-scrollbar-thumb {
  background-color: rgb(255, 133, 102);
  border-radius: 5px;
  border: 4px solid rgb(255, 104, 66);
}

.indent {
  margin-left: 40px;
}

.bio,
.skills-list-box {
  height: 200px;
}

.list-group-item {
  margin-bottom: 10px;
  border-radius: 2px;
  border: rgb(49, 31, 27) 1px solid;
}

a, .nav-link {
  font-weight: bolder;
}

.list-icon {
  margin-right: 15px;
}

.section-row, .project-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255) 0%,
    rgba(233, 233, 233, 0) 100%
  );
}

.carouselImage {
  height: 350px;
}

.section-row {
  height: 350px;
  border-radius: 5px;
}

.card {
  border-radius: 15px;
  position: relative;
}

.card, .list-group-item {
  background: rgb(84, 243, 244);
  background: linear-gradient(
    295deg,
    rgba(84, 243, 244, 0.85) 0%,
    rgb(246, 255, 255) 33%,
    rgb(246, 255, 255) 66%,
    rgba(255, 66, 19, 0.85) 100%
  );
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  border: black 1px solid;
  background-color: rgb(255, 255, 255, 0.9);
}

.project-tile-image {
  max-width: 300px;
  height: 200px;
  border-radius: 15px;
}

.btn {
  width: 250px;
  font-weight: bolder;
  color: black;
  border: black 2px solid;
  background-color: white;
}

.page-item.active .page-link {
  background-color: black;
  color: white;
  border: black 2px solid;
}

.page-link, .page-link:hover {
  color: black;
}

.btn:hover {
  background-color: white;
  color: black;
}

.project-tile-row,
.bio,
.skills-list-box {

  border-radius: 10px;
}

.paginationButton {
  width: 100px;
  height: 100%;
}

.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height:20px;
  background-color: red;
}

.nav-row {
  height: 40px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  background-color: #0B0B0A;
}

.nav-link {
  color: white;
}